.site-wrapper {
    width:100%;
}

.header {
    /*background-color:red;*/
    width:50%;
    margin:0 auto;
}

.header img {
    height:200;
    width:700;
}

.menu-bar {
    /*background-color:purple;*/
}

.footer {
    /*background-color:yellow;*/
    text-align:center;
}

p span {
    float:right;
    margin-right:10;
}

a {
    text-decoration:none;
}

#portfolio {
    width:70%;
    margin:0 auto;
    font-size:16px;
}

#about-me {
    width:70%;
    margin:0 auto;
    font-size:16px;
}

#resume-wrapper{
    width:90%;
    overflow:hidden;
    margin:0 auto;
}

#resume-desc {
    /*background-color:green;*/
    width:25%;
    min-width:150px;
    float:left;
    font-size:16px;
    padding:20;
}

#resume {
    /*background-color:pink;*/
    width:75%;
    min-width:300px;
    float:left;
    font-size:16px;
    padding:15;
    border-left-style:solid;
    border-left-width:1;
    border-left-color:gray;
    font-family:Garamond;
    font-style:normal;
    font-variant:normal;
}

#resume-opening {
    width:100%;
    text-align:center;
}