<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume</h1> 

<div class="row">
     
    <!-- .resume-left -->
    <div class="col-md-12 resume-left">    
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h6><span class="fa fa-university"></span> 42 Silicon Valley</h6>
		<h5><i>Software Engineering Studies</i> <span class="duration" style="float:right"><i class="fa fa-calendar color"></i> 2017 - 2018</span></h5>
		<ul class="resume-list">
		<li>Studying C with C11 conformance for Unix development</li>
		<li>Recreated an IRC chat server in Golang according to RFC standards</li>
		<li>Created <a href="https://github.com/jchung05/KIFT">KIFT</a>, a trained VUI application that responds to user requests such as checking the weather or traffic, setting a timer, etc.</li>
		<li>Created <a href="https://github.com/jchung05/Java-Flight-Simulator">avaJ-Launcher</a>, an aircraft flight path simulator in various weather patterns built with Java 8 and modeled with UML</li>
		<li>Unit tested and debugged broken data structures exam questions for the school intermediate C exam</li>
		</ul>
            </li>
            <li>
                <h6><span class="fa fa-university"></span> Cuesta College</h6>
		    <h5><i>Associate of Computer Science</i> <span class="duration" style="float:right"><i class="fa fa-calendar color"></i> 2010 - 2014</span></h5>
		    <p style="margin-left:30px">Notable Coursework - iOS Development, Android Development, Discrete Structures, Assembly and Computer Microarchitecture, Cryptography, Technical Writing for Engineers</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h6><span class="fa fa-briefcase"></span> Bloom Energy</h6>
                <h5>RMCC Operator <span class="duration" style="float:right"><i class="fa fa-calendar color"></i> Jan 2016 - Dec 2016</span></h5>
		<ul class="resume-list">
		<li>Researched electrochemical &amp; fuel cell theory utilized in energy server architecture</li>
		<li>Worked with distributed systems to monitor client data flow</li>
		<li>Built a work schedule generator in Excel with Visual Basic</li>
		</ul>
            </li>
            <li>
                <h6><span class="fa fa-briefcase"></span> ThriveStreams</h6>
                <h5>Remote Rails Intern <span class="duration" style="float:right"><i class="fa fa-calendar color"></i> Jan 2016 - July 2016</span></h5>
		<ul class="resume-list">
		<li>Created front-end components that utilizes MVC for the company's web application</li>
		<li>Led project migration, QA testing, and staging of site code for internationalization of the site</li>
		</ul>
            </li>
            <li>
                <h6><span class="fa fa-briefcase"></span> RE Technology Inc</h6>
                <h5>Full Stack Intern <span class="duration" style="float:right"><i class="fa fa-calendar color"></i> Feb 2013 - Dec 2013</span></h5>
		<ul class="resume-list">
		<li>Utilized LAMP and Joomla! to build the main site and QA tested backend components before deployment</li>
		<li>Reverse-engineered a single sign-on component to allow for remote log-in from company-affiliated sites</li>
		<li>Assisted in generating over $400,000 in a continued, collaborative <a href="http://techguide.retechnology.com">Buyer's Guide</a> project</li>
		</ul>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Certifications &amp; Exams</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h6><span class="fa fa-trophy"></span> <a href="https://cspa.io/report/344ffc5e-6f70-4469-a13b-e859924c90b8">Computer Science Proficiency Assessment Core Exam</a> </h6>
                <h5><i>Ranked #1 for Oct 2018 Cohort</i><span class="duration" style="float:right"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h5><i>86th Global Percentile</i></h5>
		<p style="margin-left:30px">The CSPA&#8482; is a comprehensive standardized exam for software engineers that assesses your technical knowledge, skills, and abilities across a fundamental range of topics.</p>
        <!-- /.attributes -->
        <br>  
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://docs.google.com/document/d/1rI1h42MOMUflqitR5uQ6xKfZmSdWH1rBATDG8TOLr90/export?format=doc">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  

</div>
<!-- End .resume -->
