<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catMobile">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Development</span></li>
            <li><span class="filter" data-filter="catMobile">Mobile Development</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/matcha-photo.PNG" rel="portfolio" title="A dating website built with Flask and Postgres, including highly optimized profile queries and a live websocket chat">
                        <img src="images/portfolio/matcha-photo.PNG" alt="Matcha" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Matcha</a>
                                <span class="text-category">Web Development</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/retechnology-tech-guide-photo.PNG" rel="portfolio">
                        <img src="images/portfolio/retechnology-tech-guide-photo.PNG" alt="RE Technology Buyer's Guide" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">RETechnology Buyer's Guide</a>
                                <span class="text-category">Web Development</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMobile" data-cat="catMobile">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/immunovac-photo.png" rel="portfolio">
                        <img src="images/portfolio/immunovac-photo.png" alt="Hackathon Winning Idea for Automated Vaccine Scheduling" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ImmunoVac</a>
                                <span class="text-category">Mobile Development</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/petra-photo.PNG" rel="portfolio" title="Mediterranean pizza toppings & pita bread sandwiches are offered at this sizable counter-serve spot.">
                        <img src="images/portfolio/petra-photo.PNG" alt="Petra SLO" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Petra SLO</a>
                                <span class="text-category">Web Development</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio