<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catMobile catSoftware catBlockchain catOther">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Development</span></li>
            <li><span class="filter" data-filter="catMobile">Mobile Development</span></li>
            <li><span class="filter" data-filter="catBlockchain">Blockchain Development</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://match-a.herokuapp.com" title="Find the love of your life on Matcha!" target="_blank">
                        <img src="images/portfolio/matcha-photo.PNG" alt="Matcha" />
                        <div class="label">
                            <div class="label-text">
                                <p class="text-title">Matcha</p>
                                <p class="text-description">Web Development</p>
                                <p class="text-category">Matcha is a dating website built on Flask and Postgres by a team of two. I built the backend and optimized the user querying algorithms, user tested the websocket chat client, and also implemented the OAuth and Google Maps/CAPTCHA APIs.</p>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="http://techguide.retechnology.com" title="RE Technology Buyer's Guide" target="_blank">
                        <img src="images/portfolio/retechnology-tech-guide-photo.PNG" alt="RE Technology Buyer's Guide" />
                        <div class="label">
                            <div class="label-text">
                                <p class="text-title">RETechnology Buyer's Guide</p>
                                <p class="text-description">Web Development</p>
                                <p class="text-category">The Buyer's Guide is the first project I worked on in industry. I created the front-end with HTML/CSS3 and also QA tested the PDFRenderer-based catalog.</p>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMobile" data-cat="catMobile">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="#" title="Grand Prize Proof of Concept at a Hackathon for Vaccinations">
                        <img src="images/portfolio/immunovac-photo.png" alt="Hackathon Winning Idea for Automated Vaccine Scheduling" />
                        <div class="label">
                            <div class="label-text">
                                <p class="text-title">ImmunoVac</p>
                                <p class="text-description">Mobile Development</p>
                                <p class="text-category">A React Native mobile application designed to fight against misinformation as well as automatically schedule vaccinations using Google Assistant. I was project manager and developer.</p>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="https://eatpetra.com/" title="Mediterranean pizza toppings & pita bread sandwiches are offered at this sizable counter-serve spot." target="_blank">
                        <img src="images/portfolio/petra-photo.PNG" alt="Petra SLO" />
                        <div class="label">
                            <div class="label-text">
                                <p class="text-title">Petra SLO</p>
                                <p class="text-description">Web Development</p>
                                <p class="text-category">A summer project for the restaurant Petra in San Luis Obispo. I collaborated with the designer on imaging and logo for the site and also used AJAX for the site loading.</p>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="https://angel.co/thrivestreams" title="Digital Mental Health for Employees" target="_blank">
                        <img src="images/portfolio/thrivesync-photo.png" alt="ThriveSync" />
                        <div class="label">
                            <div class="label-text">
                                <p class="text-title">ThriveSync</p>
                                <p class="text-description">Web Development</p>
                                <p class="text-category">A predictive modeling web and mobile application for mental health a close, personal friend of mine founded. I led the Ruby on Rails development and internationalization efforts.</p>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catBlockchain" data-cat="catBlockchain">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="#" title="Private Capital Lending on the Blockchain" target="_blank">
                        <img src="images/portfolio/7.jpg" alt="Dabbu" />
                        <div class="label">
                            <div class="label-text">
                                <p class="text-title">Dabbu</p>
                                <p class="text-description">Blockchain Development</p>
                                <p class="text-category">Private capital lending built on the blockchain. I currently lead Solidity contract development and the integration of both Enigma for private data encryption and Web3 to tie the front and back-end together.</p>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio
